body {background-color: rgb(157, 90, 90);font-variant: small-caps;      
  div { color:rgb(157, 90, 90);text-align: center;font-variant: small-caps;margin: 5px; }
    p { color:rgb(116, 143, 209);font-style: bold;font-variant: small-caps;margin: 40px; }
} 
.figcaption {color: rgb(116, 143, 209);padding: 50px;}
.img-container {float:right; width: 33px; padding: 50px;}  
h1 {color: #ffffff;}
h5 {color: #ffffff;}  
h2 {color: #75d5e8;}
h3 {color: #ffffff;}
header {color: #faf9f9;}
section {color: #996b6b;}
.ul {color: #d1bfbf;}
.il {color: #f5f3f3;}
a href {color: #ffffff;}
nav {color: #fdfdfd;;}
head{color: #fcfcfc;}
a:link {color:white;text-decoration:rgb(255, 255, 255)}
a:visited {color:white;background-color:white;text-decoration:white;}
a:active {color:white;background-color:white;text-decoration:white;}   
a:hover {color:white;background-color: rgb(95, 73, 73);text-decoration:rgb(210, 43, 43);}