 body {background-color: rgb(12, 12, 12);font-variant:small-caps;
    

  p { color: rgb(156, 97, 97);font-style: bold;font-variant:small-caps;margin: 40px; }

   div { background-color: rgb(160, 57, 57);text-align: center;font-variant: small-caps;}
 }
.figcaption {color: rgb(56, 39, 39);size: 50px;}
.img-container {float:right; width: 33px; padding:5px;}  
h1 {color: #ffffff;}
h5 {color: #ffffff;}  
h2 {color: #75d5e8;}
h3 {color: #ffffff;}
header {color: #faf9f9;}
section {color: #996b6b;}
.ul {color: #d1bfbf;}
.il {color: #f5f3f3;}
a href {color: #ffffff;}
nav {color: #fdfdfd;;}
head{color: #fcfcfc;}
a:link {color:white;text-decoration:rgb(255, 255, 255)}
a:visited {color:white;background-color:white;text-decoration:white;}
a:active {color:white;background-color:white;text-decoration:white;}   
a:hover {color:white;background-color: white;text-decoration:white;}